@charset "UTF-8";
/* CSS Document */




/*		For adding a red border for box checking*/
/*
* {
	
	border-color: red;
	border-style: solid;
	border-radius: .1px;
}
*/

* {
    font-family: 'Josefin Sans', sans-serif;
    background: #fafafa;
}

body {
	margin: 0 0 0 0;
}

a {
    text-decoration: none;
}

/*Header*/
.head {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-content: center;
}

.head li {
    list-style: none;
    text-align: center;
    line-height: 1.5em;
    border: 1px solid white;
    border-width: 75%;
}
/*Profile*/
#profile {
    height: 123px;
    width: 200px;
    margin-left: 59px;
    margin-right: 59px;
}
.profiletext {
    font-size: 14px;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}


/*Main*/
.wrapper {
    background-color: white;
    margin: 0 auto;
}

div h2 {
    text-align: center;
}

.portfolio img {
    height: 162px;
    width: 290px;
    margin-right: 16px;
    margin-left: 16px;
}

.portfolio1, .portfolio2, .portfolio3, .portfolio4, .portfolio5, .portfolio6 {
    hieght: 162px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

.portfoiotext {
    text-align: center;
}


/*clearfix*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}