@charset "UTF-8";
/* CSS Document */




/*		For adding a red border for box checking
* {
	
	border-color: red;
	border-style: solid;
	border-radius: .1px;
}
*/





body {
	background-color: #fafafa;
	margin: 0;
}

/*Navigation*/



.main-nav {
	margin: 0 auto;
	text-align: center;
	display: inline;
	
}

header h1 {
	font-size: 2em;
	font-family: 'Lobster', Georgia, sans-serif;
}

header h1 a {
	color: #626f7e;
}

header li {
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	font-weight: 700;
	list-style: none;
	text-decoration: none;
	margin-bottom: 7px;
	font-size: 1.75em;
}

header li a {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	color: #626f7e;
	display: block;
}

a:link {
	text-decoration: none;
	color: #4A4A4A;
}

a:hover {
	color: #2a2a2a;
}

/* /End/ Navigation*/

/*Beginning Content*/

.intro img {
	width: 70%;
	display: block;
	margin: 55px auto 30px;
	
}

main p {
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 35px;
}


/* /End/ Beginning Conetent */



/* Clear Fix */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}
/* /End/ Clear Fix*/



/* Middle content */

#lower {
	padding-bottom: 45px;
}

main h3 {
	padding: 35px 0 0;
	text-align: center;
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	width: 100%;
}

main h2 {
	text-align: center;
	font-weight: 400;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	width: 100%;
}

.portfolio p {
	text-align: center;
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	padding-bottom: 0px;
}

.portfolio img {
	margin-top: 45px;
	width: 290px;
	padding-top: 1px;
}

.portfolio{
	display: block;
	margin: auto;
}

main div {
	background-color: white;
	width: 100%;
}

/* /End/ Middle Content */


/* Footer */


footer h2 {
	text-align: center;
	font-weight: 400;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	width: 100%;
	padding-top: 33px;
	padding-bottom: 10px;
}

footer p {
	text-align: center;
	font-weight: 300;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	padding-bottom: 20px;
}

footer li {
	text-align: center;
	list-style: none;
	padding-bottom: 17px;
	font-family: 'Yanone Kaffeesatz', Georgia, sans-serif;
	
}

footer ul {
	padding-left: 0;
	padding-bottom: 25px;
	
}

.low-footer {
	border: thick #fafafa 2px;
}

#name-left {
	float: left;
	display: inline;
	width: 50%;
}

#name-right {
	float: right;
	display: inline;
	width: 50%;
	
}



/* /End/ Footer */



/* Media Queries */

/*
@media (min-width: 768px;) {
	
	
}
*/














































































